params {
    reads = "data/*_{1,2}.fastq.gz"
    reference = "data/reference.fa"
    outdir = "results"
}

profiles {
    conda {
        conda.enabled = true
        docker.enabled = false
    }
    standard {
        conda.enabled = true
    }
}

process {
    cpus = 4
    memory = 8.GB
    errorStrategy = 'retry'
    maxRetries = 3
    
    withLabel: fastqc {
        cpus = 2
        memory = 4.GB
    }
    withLabel: alignment {
        cpus = 8
        memory = 16.GB
    }
}
